<!DOCTYPE HTML>
<html>
<head>
	<include file="common:meta" />
<title>权限管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <a href="javascript:;" onclick="admin_permission_add('添加权限节点','__URL__/add','800','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a></span> <span class="r">{$page} </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">权限节点</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="40">菜单名称</th>
				<th  width="40">创建人</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<volist name="list" id="vo">
		<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$vo.id}</td>
				<td>{$vo.menu_name}</td>
				<td>{$vo.creat_name}</td>
				<td><a title="编辑" href="javascript:;" onclick="admin_permission_edit('角色编辑','__URL__/update','{$vo.menu_name}','','310')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_permission_del(this,'{$vo.menu_name}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</volist>
		</tbody>
	</table>
</div>
<include file="common:footer" />
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,url,id,w,h){
	layer_show(title,url+'/id/'+id,w,h);
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('权限删除须谨慎，确认要删除吗？',function(index){
		$.ajax({
			url: '__URL__/delete',
			type: "post",
			data: {
				'id': id
			},
			dataType: 'json',
			error: function () {
				layer.alert('服务器忙，请稍候再试')
			},
			success: function (state) {
				if(state.state == 0){
					layer.msg(state.msg);
					return;
				}
			}
		});
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
function  datadel(){
	var arr = "";
	for(var i = 0;i<$('tbody .text-c ').length;i++){
		if($('tbody .text-c ').eq(i).children('td').eq(0).children('input')[0].checked){
			arr += "'"+$('tbody .text-c ').eq(i).children('td').eq(1).html()+"',";
			/*var id=$('tbody .text-c ').eq(i).children('td').eq(1).html();*/

		}

	}
	/*console.log(arr.substr(0,arr.length-1));*/
	var id="("+arr.substr(0,arr.length-1)+")";
	$.ajax({
		url: '__URL__/delete',
		type: "post",
		data: {
			'id': id
		},
		dataType: 'json',
		error: function () {
			layer.alert('服务器忙，请稍候再试')
		},
		success: function (state) {
			if(state.state == 0){
				layer.msg(state.msg);
				return;
			}
		}
	});

}
</script>
</body>
</html>