<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<script src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js" ></script>
	<link href="__PUBLIC__/admin/upload/uploadify3.2.1/uploadify.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/admin/upload/uploadify3.2.1/jquery.uploadify.min.js"></script>


	<include file="common:meta" />
	<title>修改视频消息</title>
</head>
<script type="text/javascript">
	$(function() {
		$('#file_upload').uploadify({
			'fileExt' :'*mp4',
			'swf'      : '__PUBLIC__/admin/upload/uploadify3.2.1/uploadify.swf',
			'uploader' : '{:U("VeReply/img")}',
			'buttonText' : '音乐上传',
			'onUploadSuccess' : function(file, data) {
				var datajson=eval('(' + data + ')');
				/*$('#img').attr('src','__ROOT__/Uploads/'+ datajson.url);*/
				$('#picurl').val(datajson.url);
			},
		});
	});
</script>
<body>
<article class="page-container">
	<form class="form form-horizontal" action="{:U('VeReply/update')}" method="post" id="form-admin-add">
		<input type="hidden" id="picurl" name="picurl" value="{$detail.media_url}" />
		<input type="hidden" id="id" name="id" value="{$detail.id}" />
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上传视频</label>
			<div class="form-group" style="height: 200px;text-align:center;">
				<img id="imgs" src="__PUBLIC__/admin/upload/images/vedios.png" width="130" height="130" border="0" />
				<input id="file_upload" name="file_upload" type="file" multiple="true" value="" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$detail.name}"  id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="ve_discription"  style="width:1000px;height:240px;" >{$detail.ve_discription}</textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/js/H-ui.admin.js"></script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>