<div id="footer"><a href="index.html">共同学习qq群:148400915</a></div>
<div id="menu" style="position:fixed;bottom:0px;width:100%;height:44px;line-height:44px;z-index:999;background:url(images/menubg.png) repeat-x;">

    <ul style="margin:0 auto;list-style-type:none;width:100%;max-width:500px;height:100%;">



        <li><img class="img_front" src="__PUBLIC__/whome/images/front.png"><div class="menu_li"><img src="__PUBLIC__/whome/images/coin.png" width=10>&nbsp;小二推荐</div><img class="line" src="images/line.png" width=1>



		<span style="background-size:100%;">

			<img src="__PUBLIC__/whome/images/navbg4.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">
                <a href="onsale_0.html">每日推荐</a>
                <a href="onsale_2.html">清仓秒杀</a>
                <a href="onsale.html">限时特卖</a>
                <a href="hot.html">当季热点</a>



            </div>

		</span>



        </li>



        <li>
            <img class="img_front" src="__PUBLIC__/whome/images/front.png">
            <div class="menu_li">
                <img src="__PUBLIC__/whome/images/coin.png" width=10>&nbsp;旅游超市</div>

            <img class="line" src="__PUBLIC__/whome/images/line.png" width=1>



		<span style="background-size:100%;">

			<img src="__PUBLIC__/whome/images/navbg4.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">



                <a href="list.jsp">目的地</a>



                <a href="rank.html">排行榜</a>



                <a href="search.html">旅游搜索</a>



                <a href="javascript:beginTalk()">在线咨询</a>



            </div>

		</span>



        </li>



        <li><img class="img_front" src="__PUBLIC__/whome/images/front.png"><div class="menu_li">

            <img src="__PUBLIC__/whome/images/coin.png" width=10>&nbsp;订单处理</div>



		<span style="background-size:100%;">

			<img src="__PUBLIC__/whome/images/navbg5.png" width=100%>

			<div style="position:absolute;top:0px;left:0px;">



                <a href="#">我的订单</a>



                <a href="#">会员资料</a>



                <a href="#">关联微信</a>



                <a href="#">联系我们</a>



                <a href="#">进入主站</a>



            </div>

		</span>



        </li>



    </ul>

</div>