<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'/>
<meta name="author" content=""/>
<meta name="copyright" content=""/>
<link href="__PUBLIC__/whome/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="__PUBLIC__/whome/favicon.ico" rel="icon" type="image/x-icon">
<link href="__PUBLIC__/whome/m.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/whome/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/whome/js/manhuatoTop.1.0.js" type="text/javascript"></script>

<script src="__PUBLIC__/whome/js/common.js" type="text/javascript"></script>

<link rel="stylesheet" href="__PUBLIC__/whome/css/idangerous.swiper.css">

<link rel="stylesheet" href="__PUBLIC__/whome/css/style.css">

<script src="__PUBLIC__/whome/js/idangerous.swiper-1.9.1.min.js"></script>

<script src="__PUBLIC__/whome/js/idangerous.swiper.scrollbar-1.2.js"></script>

<script src="__PUBLIC__/whome/js/swiper.js"></script>