<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<include file="common:meta" />
<!--/meta 作为公共模版分离出去-->

<title>角色管理</title>

</head>
<body>
<article class="page-container">
	<form action="{:U('Role/add')}" method="post" class="form form-horizontal" id="form-admin-role-add">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所属公众号：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="wxid">

					<volist name="wechat" id="wes">
					<option value={$wes.id}>{$wes.wxname}</option>
				   </volist>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="roleName" name="roleName" datatype="*4-16" nullmsg="用户账户不能为空">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">权限选择：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <volist name="list" id="vo" key="k">
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="{$vo.menu_cate}" name="Character[{$k}]" id="Character[{$k}]">
                            {$vo.menu_cate}</label>
                    </dt>

                <dd>
                    <volist name="vo.twocode" id="twocode" key="ke">
                        <dl class="cl permission-list2">
                    <dt>
                        <label class="">
                            <input type="checkbox" value="{$twocode.menu_tite}+{$twocode.titel_code}" name="Charactero[{$ke}][{$k}]" id="Charactero[{$ke}][{$k}]">
                            {$twocode.menu_tite}</label>
                    </dt>
                    <volist name="twocode.buttons" id="buttons" key="kes">
                    <dd>
                        <label class="">
                            <input type="checkbox" value="{$buttons.menu_code}" name="Charactert[{$kes}][{$ke}][{$k}]" id="Charactert[{$kes}][{$ke}][{$k}]">
                            {$buttons.menu_name}</label>
                    </dd>
                    </volist>
                        </dl>
                </volist>
                </dd>

                </dl>
                 </volist>

		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<include file="common:footer" />
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>