<!DOCTYPE HTML>
<html>
<head>
	<include file="common:meta" />
<![endif]-->
<title>语音管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 语音 <span class="c-gray en">&gt;</span> 语音列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<form action="{:U('VoReply/index')}" method="get" class="form form-horizontal" id="form-member-add">
<div class="page-container">
	<input type="text" name="code" id="code" placeholder=" 标题名称" value="{$map.voice_name}" style="width:250px" class="input-text">
		<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜标题</button>
	</div>
</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="picture_add('添加语音','__APP__/VoReply/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加语音</a></span> <span class="r">{$page}</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">ID</th>
					<th width="100">标题</th>
					<th width="100">发布时间</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name="list"  id="vo">
				<tr class="text-c">
					<td><input name="" type="checkbox" value=""></td>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td >{$vo.creat_time}</td>
					<td >   <a style="text-decoration:none" class="ml-5" onClick="picture_edit('文本编辑','__URL__/update','{$vo.id}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>

			</volist>
			</tbody>
		</table>
	</div>
</div>
<include file="common:footer" />
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
	]
                                });
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}


/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url+'/id/'+id
	});
	layer.full(index);
}
/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			url: '__URL__/delete',
			type: "post",
			data: {
				'id': id
			},
			dataType: 'json',
			error: function () {
				layer.alert('服务器忙，请稍候再试')
			},
			success: function (state) {

				if(state.state == 0){
					layer.msg(state.msg);
					return;
				}
			}
		});
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
function  datadel(){
	var arr = "";
	for(var i = 0;i<$('tbody .text-c ').length;i++){
		if($('tbody .text-c ').eq(i).children('td').eq(0).children('input')[0].checked){
			arr += "'"+$('tbody .text-c ').eq(i).children('td').eq(1).html()+"',";
			/*var id=$('tbody .text-c ').eq(i).children('td').eq(1).html();*/

		}
	}
	/*console.log(arr.substr(0,arr.length-1));*/
	var id="("+arr.substr(0,arr.length-1)+")";
	$.ajax({
		url: '__URL__/delete',
		type: "post",
		data: {
			'id': id
		},
		dataType: 'json',
		error: function () {
			layer.alert('服务器忙，请稍候再试')
		},
		success: function (state) {
			if(state.state == 0){
				layer.msg(state.msg);
				return;
			}
		}
	});

}
</script>
</body>
</html>