<!DOCTYPE HTML>

<html lang="en-US">

<head>
	<include file="come:header" />
<title>触屏版</title>
</head>
<body>

<div id="frame">

	<div id="top">

		<a id="logo" href="__APP__/Whome/WxIndex/index.html"><img src="__PUBLIC__/whome/images/home.png" align="top"></a>

		<a id="title">每日推荐</a>

		<!--a id="search" href="search.jsp"><img src="images/search.png" align="top"></a-->

		<span id="list"><a href="javascript:window.history.back();"><img src="__PUBLIC__/whome/images/goback.png" align="top"></a>
		</span>

	</div>

	<div id="con">

		<volist name="list"  id="vo">
		<div class="tm_div">

			<div class="tm_pro">

				<a href="__APP__/Whome/WxNew/detail/id/{$vo.id}"><img src="__ROOT__/Uploads{$vo.ne_img}" width="100%"></a>

				<div class="tm_type"><a href="onsale_0.html"></a></div>

				<div class="tm_title">

					<div class="tm_title_bg"></div>

					<div class="tm_title_con">

						<div class="tm_title_con_1"><a href="__APP__/Whome/WxNew/detail/id/{$vo.id}">{$vo.name}</a></div>

					</div>

				</div>

			</div>

			<div class="tm_price">

				<div class="tm_price_1">作者:&nbsp;{$vo.author}</div>

				<div class="tm_price_2"><span class="servertime">{$vo.creat_time}</span></div>

			</div>

		</div>
		</volist>
		<include file="come:footer" />
<div class="footer_front" style="position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:888;display:none;"><img src="__PUBLIC__/whome/images/front.png" width="100%" height="100%"></div>

<style>

#menu ul li{float:left;width:33.3%;height:100%;text-align:center;position:relative;font-size:14px;}

#menu ul li .line{position:absolute;top:0px;right:0px;z-index:30;}

#menu ul li .menu_li{position:absolute;top:0px;left:0px;z-index:20;width:100%;height:100%;color:#454545;background:url(images/menubg.png) repeat-x;}

#menu ul li .img_front{position:absolute;top:0px;left:0px;z-index:30;width:100%;height:100%;}

#menu ul li .img_front img{width:100%;height:100%;}

#menu ul li span{position:absolute;bottom:-300px;left:50%;width:104px;margin-left:-52px;height:auto;text-align:center;z-index:10;}

#menu ul li span a{float:left;width:100%;height:43px;line-height:43px;color:#454545;text-decoration:none;}

</style>

<script>

function beginTalk() {

	var t = window.location.toString();

	var newT = t.replace(new RegExp("&", "gm"), "<and>"); 

	window.open("italk/index_m.jsp@fs_AccessAddress=" + newT, "talk");

}

window.onload = function(){

	$('#menu ul li').each(function(j){

		$('#menu ul li').eq(j).removeClass("on");

		$('#menu ul li span').eq(j).animate({bottom:-$('#menu ul li span').eq(j).height()},100);

	});

}

$('#menu ul li').each(function(i){

	$(this).click(function(){

		if($(this).attr("class")!="on"){

			$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

			$('#menu ul .on').removeClass("on");

			$(this).addClass("on");

			$('#menu ul li span').eq(i).animate({bottom:35},200);

			$('.footer_front').show();

		}else{

			$('#menu ul li span').eq(i).animate({bottom:-$('#menu ul li span').eq(i).height()},200);

			$(this).removeClass("on");

			$('.footer_front').hide();

		}

	});

});

$('.footer_front').click(function(){

	$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

	$('#menu ul .on').removeClass("on");

	$(this).hide();

});

</script>

</div>

<script>

$(function () {

	$('#list img').click(function (e) {

		if(parseInt($('#info').css('right'))==0){

			$('#info').animate({right:-200},200).css('display','none');

			$('#frame').animate({left:0},200);

		}else{

			$('#info').animate({right:0},200).css({'display':'block','height':$('#frame').height()});

			$('#frame').animate({left:-200},200);

		}

	});

	$(window).manhuatoTop({

		showHeight : 500,//设置滚动高度时显示

		speed : 500 //返回顶部的速度以毫秒为单位

	});

})

function show(i){

	var now = new Date();

	var utime = $('input').eq(i).attr("value");

	if (utime == "")

		return "无";

	var urodz = new Date(utime);

	var daysRound = Math.floor((urodz - now) / 1000 / 60 / 60 / 24);

	var hoursRound = Math.floor((urodz - now) / 1000 / 60 / 60 - (24 * daysRound));

	var minutesRound = Math.floor((urodz - now) / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound));

	var secondsRound = Math.floor((urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound));

	var time = daysRound + "天" + hoursRound + "时" + minutesRound + "分" + secondsRound + "秒";

	if (daysRound < 0 || hoursRound < 0 || minutesRound < 0 || secondsRound < 0)

		time = "特卖已经结束！";

	if (daysRound >= 3)

		time = "3天以上";

	$('.servertime').eq(i).html(time);

	setTimeout("show(\"" + i + "\")",1000);

}



h=1;

$("#more").click(function(){

	var scrolltop=$("#con").height();

	$("#more").html("<img src=\"images/loading.gif\">");

	htmlobj=$.ajax({url:"more.jsp@type=0&page="+h,async:false});

	$("#con").append(htmlobj.responseText);

	h=h+1;

	

	$("#more").html("点击查看更多");

	$("html,body").animate({scrollTop:scrolltop+60},500);	

	if($("#nomore").attr("value")==1){

		$("#more").html("请关注后续更新");

	}

});

</script>

</body>

</html>
