<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<script src="__PUBLIC__/admin/jquery-2.0.3.min.js" ></script>
	<link href="__PUBLIC__/admin/upload/uploadify3.2.1/uploadify.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/admin/upload/uploadify3.2.1/jquery.uploadify.min.js"></script>
	<include file="common:meta" />
<title>修改管理员 - 管理员管理 - H-ui.admin v2.4</title>
</head>
<script type="text/javascript">
	$(function() {
		$('#file_upload').uploadify({
			'swf'      : '__PUBLIC__/admin/upload/uploadify3.2.1/uploadify.swf',
			'uploader' : '{:U("AdminUser/img")}',
			'buttonText' : '头像上传',
			'onUploadSuccess' : function(file, data) {
				var datajson=eval('(' + data + ')');
				$('#img').attr('src','__ROOT__/Uploads/'+ datajson.url);
				$('#img_url').val(datajson.url);
			},
		});
	});

</script>
<body>
<article class="page-container">
	<form class="form form-horizontal" action="{:U('AdminUser/update')}" method="post" id="form-admin-add">
		<input type="hidden" id="id" name="id" value="{$detail.id}"/>
		<input type="hidden" id="img_url" name="img_url" />
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$detail.name}" placeholder="" id="adminName" name="adminName">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="{$detail.name}" placeholder="密码" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="{$detail.name}"  placeholder="确认新密码" id="password2" name="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" id="sex-1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="sex">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>头像：</label>
		<div class="form-group" style="height: 200px;text-align:center;">
			<img id="img" src="__ROOT__/Uploads{$detail.img}" width="130" height="130" border="0" />
			<input id="file_upload" name="file_upload" type="file" multiple="true" value="" />
		</div>
		</div>

		<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$detail.phone}" placeholder="" id="phone" name="phone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="@" value="{$detail.email}" name="email" id="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">

			<select class="select" name="adminRole" size="1">
				<option value="{$role.id}">{$role.name}</option>
				<volist name="roles" id="vo">
				<option value="{$vo.id}">{$vo.name}</option>
				</volist>
			</select>
			</span> </div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){

	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			password:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#password"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			return;
			/*var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);*/
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>