<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<foreach name="menus" item="v" k="key">
			<dl id="menu-base{$key}" >
				<dt><i class="Hui-iconfont">&#xe671;</i>{$v.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

				<dd>
					<ul>
						<foreach name="v.test" item="f">
							<li><a _href="{$f.url}" data-title="{$f.name}" href="javascript:void(0)">{$f.name}</a></li>
						</foreach>

					</ul>
				</dd>

			</dl>

		</foreach><!--
		<dl id="menu-base">
			<dt><i class="Hui-iconfont">&#xe671;</i> 基本管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="__APP__\WxMenu\index.html" data-title="自定义菜单" href="javascript:void(0)">自定义菜单</a></li>
					<li><a _href="__APP__\WxUser\index.html" data-title="微信用户信息" href="javascript:void(0)">微信用户信息</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 消息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="__APP__\KeyReply\index.html" data-title="关键字回复" href="javascript:void(0)">关键字回复</a></li>
					<li><a _href="__APP__\Message\index.html" data-title="普通回复" href="javascript:void(0)">普通回复</a></li>
					<li><a _href="__APP__\Send\index.html" data-title="群发消息" href="javascript:void(0)">群发消息</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 微信支付<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="picture-list.html" data-title="图片管理" href="javascript:void(0)">订单管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="__APP__\Comment\index.html" data-title="评论列表" href="javascript:;">评论列表</a></li>

				</ul>
			</dd>
		</dl>
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="__APP__\MaState\chartone.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
					<li><a _href="__APP__\MaState\charttwo.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>

					<li><a _href="__APP__\WxCategory\index.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a _href="__APP__\WxOther\shield.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a _href="__APP__\WxOther\log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>-->
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>