<!DOCTYPE HTML>

<html lang="zh-CN">

<head>
	<include file="come:header" />
<title>微信模板</title>
</head>

<body>

<div id="frame">
	<div id="top">
		<a id="logo" href="__APP__/Whome/WxIndex/index.html" style="left:-5px;"><img src="__PUBLIC__/whome/images/y_logo.jpg" align="top"></a>
		<a id="title">微信之家</a>
	</div>
	<div id="con">

		<div style="margin:0 auto;position:relative;width:100%;max-width:500px;height:auto;margin-top:10px;">

			<img src="__PUBLIC__/whome/images/bg.png" width=100% style="vertical-align:top">

			<div class="home-device">

				<a class="arrow-left" href="#"></a>

				<a class="arrow-right" href="#"></a>

				<div class="swiper-main">

					<div class="swiper-container swiper1">

						<div class="swiper-wrapper">
							<div class="swiper-slide"><a href="search.html"><img alt="关注我们:www.ctibet.cn" id="pc_0" src="__PUBLIC__/whome/uploadpic/AD/1.jpg" width=100%/></a></div>
							<div class="swiper-slide"><a href="search.html"><img alt="夏末玩水趣" id="pc_1" src="__PUBLIC__/whome/uploadpic/AD/2.jpg" width=100%/></a></div>
							<div class="swiper-slide"><a href="search.html"><img alt="自驾超值套票" id="pc_2" src="__PUBLIC__/whome/uploadpic/AD/3.jpg" width=100%/></a></div>



						</div>

					</div>

				</div>

				<div class="pagination pagination1"></div>

			</div>

		</div>

		<div id="menudiv" style="margin:0 auto;position:relative;width:100%;max-width:500px;height:auto;margin-top:0px;">


			<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

				<a href="__APP__/Whome/WxNew/index"><img src="__PUBLIC__/whome/upload/m_pic/2.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

				<a href="__APP__/Whome/WxNew/index" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">每日推荐</a>

			</div>




			<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">
					<a href="onsale_2.html"><img src="__PUBLIC__/whome/upload/m_pic/1.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>
					<a href="onsale_2.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">清仓秒杀</a>
			</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="onsale.html"><img src="__PUBLIC__/whome/upload/m_pic/5.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="onsale.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">限时特卖</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="search.html"><img src="__PUBLIC__/whome/upload/m_pic/4.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="search.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">旅游搜索</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="hot.html"><img src="__PUBLIC__/whome/upload/m_pic/7.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="hot.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">当季热点</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="onsale_5.html"><img src="__PUBLIC__/whome/upload/m_pic/8.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="onsale_5.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">周末尾单</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="#"><img src="__PUBLIC__/whome/upload/m_pic/6.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="#" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">在线咨询</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="login.html"><img src="__PUBLIC__/whome/upload/m_pic/3.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="login.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">我的订单</a>

				</div>



				<div class="tm_div" style="float:left;width:30.67%;height:auto;margin-left:2%;overflow:hidden;margin-top:10px;">

					<a href="rank.html"><img src="__PUBLIC__/whome/upload/m_pic/9.jpg" style="position:relative;width:100%;top:0px;left:0px;"></a>

					<a href="rank.html" style="position:absolute;width:100%;height:12px;line-height:12px;text-align:left;top:8px;left:8px;text-decoration:none;color:#ffffff;">排行榜</a>

				</div>



		</div>

	</div>


	<include file="come:footer" />


<div class="footer_front" style="position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:888;display:none;"><img src="__PUBLIC__/whome/images/front.png" width="100%" height="100%"></div>

<style>

#menu ul li{float:left;width:33.3%;height:100%;text-align:center;position:relative;font-size:14px;}

#menu ul li .line{position:absolute;top:0px;right:0px;z-index:30;}

#menu ul li .menu_li{position:absolute;top:0px;left:0px;z-index:20;width:100%;height:100%;color:#454545;background:url(images/menubg.png) repeat-x;}

#menu ul li .img_front{position:absolute;top:0px;left:0px;z-index:30;width:100%;height:100%;}

#menu ul li .img_front img{width:100%;height:100%;}

#menu ul li span{position:absolute;bottom:-300px;left:50%;width:104px;margin-left:-52px;height:auto;text-align:center;z-index:10;}

#menu ul li span a{float:left;width:100%;height:43px;line-height:43px;color:#454545;text-decoration:none;}

</style>

<script>

function beginTalk() {

	var t = window.location.toString();

	var newT = t.replace(new RegExp("&", "gm"), "<and>");

	window.open("italk/index_m.jsp@fs_AccessAddress=" + newT, "talk");

}

window.onload = function(){

	$('#menu ul li').each(function(j){

		$('#menu ul li').eq(j).removeClass("on");

		$('#menu ul li span').eq(j).animate({bottom:-$('#menu ul li span').eq(j).height()},100);

	});

}

$('#menu ul li').each(function(i){

	$(this).click(function(){

		if($(this).attr("class")!="on"){

			$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

			$('#menu ul .on').removeClass("on");

			$(this).addClass("on");

			$('#menu ul li span').eq(i).animate({bottom:35},200);

			$('.footer_front').show();

		}else{

			$('#menu ul li span').eq(i).animate({bottom:-$('#menu ul li span').eq(i).height()},200);

			$(this).removeClass("on");

			$('.footer_front').hide();

		}

	});

});

$('.footer_front').click(function(){

	$('#menu ul .on span').animate({bottom:-$('#menu ul .on span').height()},200);

	$('#menu ul .on').removeClass("on");

	$(this).hide();

});

</script>

</div>

<script>

$('.tm_div').each(function(i){

	$('.tm_div').eq(i).css({'height': $('.tm_div').eq(0).width()});

});

</script>

</body>

</html>